.login-box
  width 460px
  margin 0 auto
  padding-top 120px

  .logo
    display block
    margin 0 auto 3rem auto
    width 140px
    height 54px
    background url("../images/icon/logo.png") no-repeat center center
    background-size contain

  .other-type
    display inline-block
    width 32px
    height 32px
    margin-left 1rem
    cursor pointer
    &.qq
      background url("../images/icon/qq-icon.png") no-repeat
    &.blog
      background url("../images/icon/sina-blog-icon.png") no-repeat
    &.github
      background url("../images/icon/github-icon.png") no-repeat